   .card {
        max-width: 410px;
        border-radius: 20px 0px;
        border: 1px solid rgb(0 0 0 / 10%);
    }
    .card:hover{
        box-shadow: 0.5px 0.5px 10px 0.5px #bebebe;   
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    .card video{
        border-radius: 20px 0px;
        max-width: 100%;
        filter: grayscale(25%);
    }
    .card video:hover{
        filter: grayscale(0%);
    }
    .card-deck{
        padding-top: 20px;
        flex-wrap: wrap;
    }
    .rr{
        display: flex;
        padding: 0 10px;
    }
    .rr i{
        cursor: pointer;
        font-size: 19px; 
        margin-left: 40px;
        color: #032F4E;
        margin-top: 8px;
    }
    .ww h5{
        color: #303030;
        font-size: 19px;
        margin: 0 0 3px;
        font-weight: 700;
    }
    .ww p{
        color: #959597;
        font-size: 13px;
        font-weight: 500;
    }
    .ww span{
        margin-left: 8px;
    }
.nn1{
    padding-top: 40px;
}
    @media(max-width:550px)
{
    .nn , .nn1
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nn{
        margin-top: 10px;
    }
    .nn1{
        margin-top: -30px;
    }
}
